# Yarn
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio Code
core

# Vite
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Prisma
/.env
/data
